<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Tumblelog</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <style>.content {padding-top: 60px;}</style>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Find a Team</a>
        <p class="navbar-text navbar-right">Hacktech 3.0 <small>#gitmorepumped</small></p>
      </div>
      <div class="navbar-collapse">
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" style="padding-top: 80px">
    <form class="form-horizontal" action="add-profile" method="post">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" name="Name" class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-3">
          <input type="text" name="Age" class="form-control" placeholder="Age">
        </div>
        <div class="col-xs-9">
          <input type="text" name="School" class="form-control" placeholder="School">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
           <input type="submit" class="btn btn-default" value="Add Profile">
         </div>
       </div> 
    </form>
<!--   </div>

<div class="container" style="padding-top: 20px"> -->
    {% block content %}
    {% for post in posts %}
    <div class="well">
      <div class="row">
        <div class="col-xs-12">

          <h2>{{ post.name }}</h2>
          <h3>{{ post.age}}</h3>
          <h3>{{ post.school}} </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>

  <!--
      <form class="pure-form">
        <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="Username">
          <input type="text" class="pure-input-1-2" placeholder="Password">
          <input type="email" class="pure-input-1-2" placeholder="Email">
        </fieldset>

        <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="A title">
          <textarea class="pure-input-1-2" placeholder="Textareas work too"></textarea>
        </fieldset>

        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
      </form>
  </div>
-->


<script>
$(document).ready(function() {
  $('form').submit(function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function () {
        console.log("Success!");
      }
    });
    e.unbind();
  });
});
</script>
</body>
</html>